# ===============================
# DJANGO
# ===============================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# ===============================
# ANGULAR / NODE
# ===============================
frontend/node_modules/
frontend/dist/

# ===============================
# SISTEMA
# ===============================
.vscode/
.env
